{% extends "base.html" %}  
{% block title %}blog titles{% endblock %}  

{% block content %}
<div class="row text-center vertical-middle-sm">
    <h1>我的博客</h1>
</div>
<div class="row">
    <div class="clo-xs-12 col-md-8">
        <ul>
            {% for blog in blogs %}
                <li>{{blog.title}}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="clo-xs-6 col-md-4">
        <h2>广告</h2>
        <p>跟老齐学www.itdiffer.com</p>
        <img width="200px" src="http://i.dimg.cc/1b/52/19/0a/15/0e/68/7a/8a/a5/69/7e/0d/f4/5b/fc.jpg">
    </div>
</div>
{% endblock %}